/node_modules
/public/hot
/public/mix-manifest.json
/public/js
/public/css
/public/img
/public/fonts
/public/vendor
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
